<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container fluid">
<a href="/">Simple Airbnb</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ms-auto flex">
      <a class="btn btn-primary" href="/flats/new">Add a flat</a>
    </div>
  </div>
</div>
</nav>

<div class="container mt-3">
<h1>All our flats</h1>
<div class="row">
<% @flats.each do |flat| %>
  <div class="col-md-4 card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/1838554/pexels-photo-1838554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title"><%= flat.name%></h5>
    <p class="card-text"><%= flat.address%></p>
    <p class="card-text"><%= flat.description%></p>
      <div class="d-flex justify-content-between">
      <div><i class="icon-group"></i><%= flat.number_of_guests%></div>
      <div><i class="icon-eur"></i><%= flat.price_per_night%></div>

      </div>
    <div><%= link_to flat.name, flat_path(flat) %></div>
    </div>
  </div>
<% end %>
</div>
<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %>
    </li>
  <% end %>
</ul>
<a class="btn btn-primary" href="/flats/new">Add a flat</a>
</div>
